@{
    ViewData["Title"] = "Allocation Report";
}

<div class="container">



  <ul class="nav nav-tabs">
    <li class="active" style="padding-right:3em"><a href="#">Current Week</a>
     <ul class="dropdown">
      <li><a href="#">Chart</a></li>
    <li><a href="#">Summary View</a></li>
      <li><a href="#">Detail View</a></li>
    <li><a href="#">Compare Current vs Last Week</a></li>
     <li><a href="#">Roll Off</a></li>
  </ul>
  
     <li class="active" style="padding-right:3em"><a href="#">  Last Week  </a>
     <ul class="dropdown">
      <li><a href="#">Chart</a></li>
    <li><a href="#">Summary View</a></li>
      <li><a href="#">Detail View</a></li>
    <li><a href="#">Compare Current vs Last Week</a></li>
     <li><a href="#">Roll Off</a></li>
  </ul>
    </li>
  </ul>
  <br>
</div>
