@{
    ViewData["Title"] = "Exit";
}
<h4>Exit</h4><br> 

<html>
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto ;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  
  font-size: 11px;
  
}

.grid-button {
    float: right;
  font-size: 15px;
  
}


.div1 {
             background-color: antiquewhite;
              padding: 0.75rem;
            
            height: 50px;
            
          }
</style>
</head>

<body>
    <div class="grid-container">
        <div class="grid-item">
            <div class="div1">
                <label for="s1">Tower</label>
                <select id="s1">
                    <option>select</option>
                </select>
                &nbsp
                <label for="s2">Cluster</label>
                <select id="s2">
                    <option>select</option>
                </select>
                &nbsp
                <label for="s3">Re.Month</label>
                <select id="s3">
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>March</option>
                    <option>Apr</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                </select>
                &nbsp
                <label for="s4">Name</label>
                <input type="text" id="s4">
                &nbsp
                <label for="s5">KIN</label>
                <input type="text" id="s5">
                &nbsp
                <label for="s6">BankID</label>
                <input type="text" id="s6">
                &nbsp
                <input type="checkbox" id="s7">
                <label for="s7">Show all</label>

                <input type="checkbox" id="s8">
                <label for="s8">Active Only</label>
                &nbsp&nbsp&nbsp&nbsp
                <button type="button">Search</button>

            </div>
        </div>
    </div>
    <br>
    <div id="new-button" class="grid-button">
            <button type="button">New Entry</button>
    </div>
</body>

</html>
