
@{
    ViewData["Title"] = "Upload Allocation";
}
<h4>Upload File</h4><br> 

<div class="container">
    <form style= "background-color: antiquewhite " method="post" asp-controller="Home" asp-action="Import" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload</button>
    </form>
</div>

